/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

:root {
    /* 畫布寬高比 */
    --canvas-width-height-ratio: 9/16;
}

html, body {
    margin: 0; /* 確保 body 無縫佔滿整個視窗，這是重點 */
    height: 100%; /* 確保 body 佔滿整個視窗，這是重點 */
    font-family: 'Microsoft JhengHei', Arial, sans-serif;
    background-color: #000000;
    /* background-color: #e0f2fc; */
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 縮放畫布控制器 */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 畫布，主要顯示單元 */
.main-container {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center center;
    pointer-events: none;
    opacity: 0;
}

.main-container.home {
    background-image: url('ui/home.jpg');
}

/* 內容配置器 */
.page-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

.oz-btn {
    position: absolute;
    background-color:transparent; /* 背景顏色 */
    border: none; /* 按鈕的邊框 */
    cursor: pointer; /* 滑鼠移動到按鈕上時的游標 */
    transition: filter 0.3s ease; /* 按鈕的過渡效果 */
    padding: 0px; /* 舊版瀏覽器沒設定會有邊距 */
}
.oz-btn:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
}

.oz-btn:active {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    transform: translateY(1px);
}

/* 舊版瀏覽器只能這樣不能CDN tailwind ，除非npm安裝*/
.oz-btn.chinese {
    width: 38%;
    left: 10%;
    top: 78%;
}
.oz-btn.english {
    width: 38%;
    left: 52%;
    top: 78%;
}

.answer_indicator {
    position: absolute;
    width: 20%;
    z-index: 1000;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* 閃爍動畫類別 */
.answer_indicator.blink {
    animation: blink-effect 0.6s ease-in-out;
}

/* 閃爍動畫關鍵幀 - 閃爍2下 */
@keyframes blink-effect {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

.answer_selector {
    position: absolute;
    width: 10%;
    z-index: 1000;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* 答案選擇器跳躍動畫 */
.answer_selector.jump {
    animation: jump-effect 0.25s ease-out;
}

@keyframes jump-effect {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -70%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}


.shine-self {
    animation: shine-effect 1.5s ease-in-out;
}

@keyframes shine-effect {
    0%, 16.67%, 33.33%, 50%, 66.67%, 83.33%, 100% {
        opacity: 1;
    }
    8.33%, 25%, 41.67%, 58.33%, 75%, 91.67% {
        opacity: 0.3;
    }
}
